@import '@/styles/_mixin';
.wrapper {
    @include desktop {
        display: none;
    }
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: space-between;
    align-items: center;
}
.item {
    height: 44px;
    width: 24%;
    margin-bottom: 10px;
    font-size: 1.3rem;
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    text-transform: capitalize;
    padding: 0 3px;
}
